/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

// tailwind-scrollbar 1.3.1 版本  滚动条圆角弧度不生效，需新增样式
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

// 引导插件缺少的样式
.driver-fix-stacking {
    position: relative;
}
.driver-navigation-btns {
    line-height: 0;
}